*{
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
}

.main-container{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1e293b, #475569, #1e293b);

}

.weather-card{
    height:calc((100vh-16rem) / 2);
    width:calc((100vw-16rem) / 2);
    background: linear-gradient(135deg, #ffffff, #cbd5e1, #94a3b8);
    border-radius:10px;
    padding:15px;
    box-shadow: rgb(229, 224, 224);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weatherCardItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display:none;
}

.card-heading{
    font-size:40px;
    font-family:"Roboto", sans-serif;
    text-align: center;
}

.input-section{
    display: flex;
    align-items: center;
}

#searchCity{
    padding:10px;
    background-color:transparent;
    margin-right:10px;
    border:1px solid black;
    outline:none;
    font-size:16px;
}

#checkBtn{
    padding:10px;
    background-color:rgb(67, 143, 237);
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.error-msg{
    color:red;
    font-size:20px;
    margin-top:10px;
}

#city{
    font-size:30px;
    font-family:"Roboto", sans-serif;

}

#weatherIcon{
    width:100px;
    height:100px;
    margin-top:0px;

}

#temperature{
    font-size:30px;
    font-family:"Roboto", sans-serif;
    margin-top:10px;

}

#weatherType{
    font-size:20px;
    font-family:"Roboto", sans-serif;
     margin-top:0px;
    font-weight:400;

}

#moodValue{
    font-size:16px;
    font-family:"Roboto", sans-serif;
    margin-top:0px;
    text-align: center;
}

#loader {
  text-align: center;
  font-size: 1.5rem;
  color: #d53a0f;
  margin-top: 20px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
